*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .moon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: anim 1s infinite;
    position: absolute;
    left: 0;
    top: 0;

}
@keyframes anim{
   100%{
        left: 1000px;
    }
} */



























